
.container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

}
.annu{
    margin-top: 20px;
    flex-direction: row;
    justify-content: flex-end;

}
.yes{
    right: 120px;
    top:15px;
}
.doc-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txt {
    color: #000000;
    font-size: 1px;
}
.dialog-main {
    width: 500px;
}
.dialog-div {
    flex-direction: column;
    align-items: center;
}
.inner-txt {
    width: 400px;
    height: 160px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.inner-btn {
    width: 400px;
    height: 120px;
    justify-content: space-around;
    align-items: center;
}
.btn-txt {
    background-color: #F2F2F2;
    text-color: #0D81F2;
}
.title{
    margin-top: 20px;
    font-size: 30px;
    color: #000000;
    right: 10px;
    top: 15px;
    margin-left: -90px;
}
.title1{
    font-size: 20px;
    color: gray;
    top: -20px;
    right: 45px;
}
.btn-div{
    right: -150px;
    font-size: 18px;
    top: -45px;
}
.btn{
    background-color: #FFFFFF;
    text-color: #007bff;
    font-size: 20px;
    top:-9px;
    right: -21px;
}
.content{
    width: 90%;
    flex-direction: column;
    align-items: center;
}
.img{
    top:10px;
}
.input{
    top:20px;
    border-style:solid;
    height: 80px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    placeholder-color: gray;
    font-size:25px;
    icon-height: 50px;
    icon-width: 50px;
    border-radius: 1px;
    background-color: #FFFFFF;
    border-bottom-color: gray;

}
.button{
    width: 100px;
    height: 90px;
    margin: 20px;
    right: 90px;
    top:-70px;
    background-color: #FFFFFF;
}